<div class="bar">
    @* <div class="bar__menu-btn-section">
    </div> *@
    <div class="bar__menu-btn-section">
        <a asp-controller="Home" asp-action="Index" class="logo">
            <img src="~/assets/logo.svg" alt="Page Logo" />
        </a>

        <i class="fa-solid fa-bars menu__btn"></i>
        <i class="fa-solid fa-x menu__btn menu__btn--x"></i>
    </div>

    <div class="bar__responsive-menu">
        <div class="categories">
            <i class="fa-solid fa-bars categories__icon"></i>
            <p class="categories__text">Categories</p>
        </div>

        <div class="container-search-nav">
            <vc:search-bar
                placeholder="Search products..."
            ></vc:search-bar>

            <nav class="navbar">
                <a href="#">Contacts</a>
                <a href="#">Help</a>
            </nav>
        </div>

    </div>

</div>