@{
    bool? includeHero = ViewBag.IncludeHero;
}

<header>
    <div class="container">
        <partial name="_Bar" />
    </div>

    @if (includeHero is true && includeHero is not null)
    {
        <partial name="_Hero" />
    }

</header>