<div class="hero container ">
    <div class="hero--title-container">
        <h1 class="hero__title"><span class="hero__title--black">The Best Products</span> in Every Category</h1>
        <vc:search-bar placeholder="Search any products and more..."></vc:search-bar>
    </div>
    <img class="hero__img" src="~/assets/img/hero_img.svg" alt="Hero Image"/>
</div>