@{
    ViewData["Title"] = "Home Page";
}

<section class="categories">
    <div class="categories__title-container">
        <h2 class="categories__title">Categories</h2>
        <a class="categories__view-all-button">View All</a>
    </div>

    <div class="categories__list">
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
    </div>
</section>

@section Scripts {
    <script src="~/js/scroll.js"></script>
}