@{
    ViewData["Title"] = "Home Page";
}

<section class="categories">
    <div class="section__title-container">
        <h2 class="section__title">Categories</h2>
        <a class="section__view-all-button">View All</a>
    </div>

    <div class="categories__list">
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
        <a draggable="false" href="#">
            <div class="categorie">
                <i class="categorie__icon fa-solid fa-apple-whole"></i>
                <p class="categorie__name">Food</p>
            </div>
        </a>
    </div>
</section>

<section class="popular-products">
    <div class="section__title-container">
        <h2 class="section__title">Popular Products</h2>
        <a class="section__view-all-button">View All</a>
    </div>

    <div class="popular-products__list">
        <a draggable="false" href="#">
            <div class="popular-product">
                <img src="~/assets/img/hp_laptop.jpg" />
                <p class="popular-product__name">
                    HP Pavilion 13.3 FHD, Intel Core i3, 8GB RAM, 128GB SSD, Silver
                </p>
                <p class="popular-product__price">$14,300</p>
            </div>
        </a>
    </div>
</section>

@section Scripts {
    <script src="~/js/scroll.js"></script>
}