:root {
    --white: #ffffff;
    --strongWhite: #FBFBFB;
    --black: #1d1d1d;
    --grey: #F6F6F6;
    --blue: #D6EFFA;
    --orange: #F19376;

    --fontHeading: 'Roboto', sans-serif;
    --fontParagraph: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/** GLOBAL **/
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-size: var(--fontHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    width: 100%;
}

p {
    font-family: var(--fontParagraph);
}

/* UTILITIES*/

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.flex-align-items-center {
    align-items: center;
}

.flex-justify-content-between {
    justify-content: space-between
}

.d-block {
    display: block;
}

.d-none {
    display: none !important;
}

/* BAR */
@media(min-width: 768px) {
    .bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bar__menu-btn-section {
        display: flex;
        align-items: center;
        gap: 3rem;
    }
}

.bar {
    padding: 1.5rem 0;
}

/* LOGO */

.logo img{
    min-width: 5rem;
    max-width: 5rem;
}

/* MENU BUTTON */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media(min-width: 768px) {
    i.menu__btn {
        /*font-size: 2.5rem;*/
        display: none
    }
}

.menu__btn {
    font-size: 2.5rem;
    cursor: pointer;
}

i.menu__btn--x {
    display: none;
}

/* SEARCH BAR */

.search-bar {
    width: 100%;
    margin: 2rem 0;
    border-radius: 4rem;
    overflow: hidden;
    padding: .5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(min-width: 768px) {
    .search-bar {
        width: 25rem;
        margin: 0;
    }
}

.search-bar--bg-grey {
    background-color: var(--grey);
}

.search-bar__icon {
    width: 3rem;
    color: var(--orange);
}

.search-bar__input {
    border: none;
    background-color: inherit;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

/* BUTTON CATEGORIES */
.categories {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    justify-content: center;
    padding: 0rem 1.2rem;
}

@media(min-width: 768px) {
    .categories {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.categories__text {
    font-weight: bold;
    height: contain;
    font-size: 1.2rem;
}

.categories__icon {
    font-size: 2rem;
    color: var(--orange);
}

/* NAVBAR */

/*.navbar {
    display: none;
}*/

@media(min-width: 768px) {
    .navbar {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}

.navbar a {
    font-size: 1.6rem;
    font-family: var(--fontParagraph);
    font-weight: bold;
}

